{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Sagar Group of Institutions{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
    <div class="content">
        <header>
            <h1>Sagar Group of Institutions</h1>
            <img src="{% static 'image/img.jpg' %}" alt="College Image">
        </header>
        {% block content %}{% endblock %}
        <footer>
            <p>Thank you for visiting.</p>
        </footer>
</body>
</html>
