{% extends 'base.html' %}

{% block title %}Flutter Report{% endblock %}

{% block content %}
    <h2>Flutter</h2>
    <p>Flutter is an open-source UI software development kit created by Google. It is used to develop applications for Android, iOS, Linux, Mac, Windows, and the web from a single codebase. Flutter's rich set of pre-designed widgets and its fast development cycle make it a popular choice for developers aiming to create beautiful and high-performance apps.</p>
{% endblock %}
