{% extends 'base.html' %}

{% block title %}Machine Learning Report{% endblock %}

{% block content %}
    <h2>Machine Learning</h2>
    <p>Machine Learning is a subset of artificial intelligence that involves the development of algorithms that can learn and make predictions from data. It is used in various applications such as image recognition, natural language processing, and recommendation systems. With the rise of big data, ML has become a crucial tool in modern technology.</p>
{% endblock %}
