<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/result/" method="post">
        <div><label for="marks">Marks</label><input type="number" name="marks" id="marks"></div>
        <input type="submit" value="Check">
    </form>
    {% if res %}
    {% if res == 'Pass' %}

    <h1 style="color: green;">{{res}}</h1>

    {% else %}

    <h1 style="color: red;">{{res}}</h1>

    {% endif %}
    {% endif %}
</body>

</html>